@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotateX-180 {
    transform: rotateX(180deg);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
